<br/>
<br/>
<br/>
@{
	ViewData["Title"] = "Edit Product Page";
}
<h2>@ViewData["Title"]</h2>
<hr/>
<div class="row top-space">
	<div class="col-lg-10">

		<div id="feedContainer" style="float: right;width:20%">
			<br/>
		</div>

		<div style="float: left;width:30%">
			<div id="alertContainer">
				@if (Model.Message != null)
				{
					<div class='error'><span class='closebtn' onclick="this.parentElement.style.display = 'none';">&times;</span> 
						@Model.Message 
					</div>
				}
			</div>
		    @using (Html.BeginForm("EditProduct", "StoreManagement", new { Model.SystemId, Model.State, Model.Message, Model.Store, Model.Product }))
		    {
		        <label for="product-name-entry">Product Name:</label>
		        <input type="text" class="form-control" id="product-name-entry" name="productNewName" placeholder="@Model.Item.Name"/>
		        <label for="base-price-entry">Base Price:</label>
		        <input type="text" class="form-control" id="base-price-entry" name="basePrice" placeholder="@Model.Item.Price"/>
		        <label for="description-entry">Description:</label>
		        <input type="text" class="form-control" id="description-entry" name="description" placeholder="@Model.Item.Description"/>
		        <br />
		        <input type="submit" class="btn btn-primary" value="Edit" />
		    }

			@using (Html.BeginForm("EditDiscount", "StoreManagement", new { Model.SystemId,Model.State,Model.Message,Model.Store,Model.Product}))
			{
			    <fieldset>
			        <label for="discount-type-entry">Disount type:</label>
			        Choose:
			        <select name="DiscountType">

			            <option value="Hidden">Hidden</option>

			            <option value="Visible">Visible</option>

			        </select>
			        <br/>

			        <input type="text" class="form-control" id="user-name-entry" name="newValue"/>
			        <br/>
			        <input type="submit" class="btn btn-primary" value="Edit">
			    </fieldset>
			}
		</div>
	</div>
</div>

@section Scripts{
	<script data-main="scripts/main" src="https://rawgit.com/radu-matei/websocket-manager/master/src/WebSocketManager.Client.TS/dist/WebSocketManager.js"></script>
}


