@model MarketWeb.Models.CheckBoxListModel
@{
    ViewData["Title"] = "Promote Store Admin Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<hr/>
<div class="row top-space">
	<div class="col-lg-10">

		<div id="feedContainer" style="float: right;width:20%">
			<br/>
		</div>

		<div style="float: left;width:30%">
			<div id="alertContainer">
				@if (Model.Message != null)
				{
					<div class='error'><span class='closebtn' onclick="this.parentElement.style.display = 'none';">&times;</span> 
						@Model.Message 
					</div>
				}
			</div>
			<table>
		
			@using (Html.BeginForm("HandleOptionsSelected", "StoreManagement",FormMethod.Post))
			{
				
				for (int i = 0; i < Model.Items.Count; i++)
				{
					<tr>
						<td>
							@Html.CheckBoxFor(m => Model.Items[i].IsChecked)
							@Model.Items[i].Name
							@Html.HiddenFor(m => Model.Items[i].Name)
						</td>
					</tr>
				}
					

				<div class="form-group text-center">
					<input type="submit" class="btn btn-primary" value="Submit" />
				</div>
			}
				
			</table>
		</div>
	</div>
</div>

@section Scripts{
	<script data-main="scripts/main" src="https://rawgit.com/radu-matei/websocket-manager/master/src/WebSocketManager.Client.TS/dist/WebSocketManager.js"></script>
}

