
<br />
<br />
<br />
<br />
<br />
<br />

@{
	ViewData["Title"] = "Remove Category Discount Page";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row top-space">
	<div class="col-lg-10">

		<div id="feedContainer" style="float: right;width:20%">
			<br />
		</div>

		<div style="float: left;width:30%">
			<div id="alertContainer">
				@if (Model.Message != null && !ViewBag.valid)
				{
					<div class='error'>
						<span class='closebtn' onclick="this.parentElement.style.display = 'none';">&times;</span>
						@Model.Message
					</div>

				}
					@if (Model.Message != null && ViewBag.valid)
				{
					<div class='sucess'>
						<span class='closebtn' onclick="this.parentElement.style.display = 'none';">&times;</span>
						@Model.Message
					</div>
				}
			</div>

			@using (Html.BeginForm("RemoveCategoryDiscount", "StoreManagement", new { Model.SystemId, Model.State, Model.Message, store = Model.Name }))
			{
				<fieldset>
					<br />
					<select name="categoryName">
						@foreach (var item in Model.Items)
						{
							<option value="@item.Name">@item.Name</option>
						}
					</select>
				</fieldset>

				<br />
				<input type="submit" class="btn btn-primary" value="Remove">

			}
		</div>
	</div>
</div>


@section Scripts{
	<script data-main="scripts/main" src="https://rawgit.com/radu-matei/websocket-manager/master/src/WebSocketManager.Client.TS/dist/WebSocketManager.js"></script>
}

