
@{
    ViewData["Title"] = "payment";
}

<h2>@ViewData["Title"]</h2>

<div class="row top-space">
    <div class="col-lg-12">
        <hr/>
        <div id="feedContainer" style="float: right;width:20%"></div>
        <div style="float: left; width: 70%">
            <div id="alertContainer">
                @if (Model.Message != null)
                 {
                    <div class='error'>
                        <span class='closebtn' onclick="this.parentElement.style.display = 'none';">&times;</span>
                        @Model.Message
                    </div>
                }
            </div>
        @using (Html.BeginForm("MakeBuyAll", "Purchase", new { Model.SystemId, Model.State}))
        {
            <label for="user-name-entry">Username:</label>
            <input type="text" class="form-control" id="user-name-entry" name="usernameEntry" value="@Model.UserName" />
            <label for="user-address-entry">Address:</label>
            <input type="text" class="form-control" id="user-address-entry" name="addressEntry" value="@Model.UserAddress" />
            <label for="user-creditcard-entry">Credit Card:</label>
            <input class="form-control" id="user-creditcard-entry" name="creditCardEntry" value="@Model.UserCreditCard" />
            <br />
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Store </th>
                    <th>Quantity </th>
                    <th>UnitPrice</th>
                    <th>FinalPrice</th>
                    <th>Coupon Code</th>
                </tr>
                </thead>
                @for (var i = 0;i < Model.Items.Length;i++)
                {
                    var item = Model.Items[i];
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Store</td>
                        <td>@item.Quantity</td>
                        <td>@item.UnitPrice</td>
                        <td>@item.FinalPrice</td>
                        <td>
                            <input class="form-control" id="coupon-entry@i" name="coupons[@i]" />
                        </td>
                    </tr>
                }
            </table>
            <input type="submit" class="btn btn-primary" value="Buy">
        }
        </div>
    </div>
</div>



@section Scripts{
    <script data-main="scripts/main" src="https://rawgit.com/radu-matei/websocket-manager/master/src/WebSocketManager.Client.TS/dist/WebSocketManager.js"></script>


}
