
@{
    ViewData["Title"] = "Order Form";
}

<h2>@ViewData["Title"]</h2>

<div class="row top-space">
    <div class="col-lg-12">
        <hr/>
        <div id="feedContainer" style="float: right;width:20%"></div>
        <div style="float: left; width: 70%">
            <div id="alertContainer">
                @if (Model.Message != null)
                {
        <div class='error'>
            <span class='closebtn' onclick="this.parentElement.style.display = 'none';">&times;</span>
            @Model.Message
        </div>
                }
            </div>
            @using (Html.BeginForm("MakeLotteryBuy", "Purchase", new { Model.SystemId, Model.State,
                Model.Product,Model.Store,Model.RealPrice }))
            {
                <label for="user-name-entry">Username:</label>
                <input type="text" class="form-control" id="user-name-entry" name="usernameEntry" value="@Model.UserName" />
                <label for="user-address-entry">Address:</label>
                <input type="text" class="form-control" id="user-address-entry" name="addressEntry" value="@Model.UserAddress" />
                <label for="user-creditcard-entry">Credit Card:</label>
                <input class="form-control" id="user-creditcard-entry" name="creditCardEntry" value="@Model.UserCreditCard" />
                <label for="suggested-price-entry">Suggested Price:</label>
                <input class="form-control" id="suggested-price-entry" name="suggestedPriceEntry" />
                <br />
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Store </th>
                            <th>Real Price</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>@Model.Product</td>
                        <td>@Model.Store</td>
                        <td>@Model.RealPrice</td>
                    </tr>
                </table>

                <input type="submit" class="btn btn-primary" value="Buy">

            }
        </div>
    </div>
</div>



@section Scripts{
    <script data-main="scripts/main" src="https://rawgit.com/radu-matei/websocket-manager/master/src/WebSocketManager.Client.TS/dist/WebSocketManager.js"></script>
}
